body {
  background-color: #011627;
  color: #eef;
  font-family: sans-serif;
}

h1,
footer {
  text-align: center;
}

a,
a:hover,
a:active {
  color: darken(#eef, 15%);
}

#graph {
  display: block;
  margin: auto;
}
